
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500&subset=latin-ext');

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
	height: 100%;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 auto;
}

body * {
  box-sizing: border-box;
  position: relative;
}

/* obecne */
.content {
  box-sizing: border-box;
  padding-top: 60px;
}

h1, h2, h3, h4 {
  color: #292929;
  font-size: 3.5em;
  font-weight: 100;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

p {
  color: #414141;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding-left: 20px;
  position: relative;
}

ul li:before {
  color: #d73a2e;
  content: '•';
  font-size: 20px;
  left: 0;
  position: absolute;
}

.red {
  color: #d73a2e;
}

.link-ruby {
  width: 60px;
}

.btn {
  background: #c33025;
  background: -webkit-linear-gradient(left, #b41100 , #ee4148);
  background: -o-linear-gradient(right, #b41100, #ee4148);
  background: -moz-linear-gradient(right, #b41100, #ee4148);
  background: linear-gradient(to right, #b41100, #ee4148);
  color: white;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 40px;
  position: relative;
  text-decoration: none;
  transition: all .8s;
}

.btn::before {
  content: '';
  position: absolute;
  border: #c33025 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
  z-index: -1;
}

.btn:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: 0;
}

.text-center {
  text-align: center;
}

.narrow {
  max-width: 800px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  left: 43px;
  position: absolute;
  top: 32px;
  z-index: 1;
}

.logo img {
  max-width: 150px;
}

.navigation {
  position: fixed;
  right: 50px;
  text-align: right;
  top: 40px;
  z-index: 1;
}

.navbar {
  display: none;
}

.flex {
  display: flex;
}

.ico-shadow {
  background: white;
  border-radius: 50%;
  box-shadow: 0px 9px 34px rgba(220, 220, 220, 0.68);
  display: inline-block;
  height: 1px;
  position: relative;
  text-align: center;
  width: 1px;
}

.ico-shadow img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.motto {
  text-align: center;
}

.motto img {
  max-height: 250px;
}

.title-1 {
  color: #3c3c3c;
  font-size: 60px;
  margin-top: 29px;
  line-height: 84px;
}

.subtitle {
  color: #414141;
  margin-top: 30px;
}

/*HP*/

.homepage .title-1 {
  font-size: 45px;
  line-height: 60.75px;
}

.text-left {
  text-align: left;
}

.jak-najit {
  background: #f7f7f7;
  border-top: 1px solid #f5f5f5;
  padding: 30px 0 45px;
  margin: 75px 0 0;
}

.proc {
  background: #c51401;
  padding: 65px 0 35px;
  z-index: -2
}


.iquest {
  background: #f7f7f7;
  border-top: 1px solid #f5f5f5;
  padding: 70px 0 45px;
}


.iquest .button {
  margin: 50px auto 70px;
}

.proc h2 {
  color: white;
  margin-bottom: 0;
}

.proc p {
  color: white;
  margin-top: 0;
}

.blockquote {
  margin: 32px 0;
  display: block;
  background: #fff;
  padding: 35px 30px 68px;
  position: relative;
  border-left: 5px solid #c33025;
   quotes: "\201C""\201D""\2018""\2019";
}

.blockquote::after {
  color: #6f6f6f;
  content: '- Říká Vladimír Charvát, jednatel společnosti.';
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-style: italic;
}

.btn {
  font-size: 17px;
}

.blockquote p {
  display: inline;
  font-size: 18px;
}

.blockquote:before {
  color: #c33025;
  content: open-quote;
  font-size: 118px;
  line-height: 0px;
  margin-right: 13px;
  vertical-align: -52px;
}

.blockquote span {

}

/* pathboxy na HP */
.path-boxes {
  background: white;
  width: 100%;
  z-index: 0;
}

.shadow {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 16px rgb(138, 138, 138);
  content: '';
  height: 80px;
  left: 50%;
  max-width: 1200px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}

.shadow.down {
  top: auto;
  bottom: 0;
}

.path-box {
  align-items: center;
  background: #b41100;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  width: 25%;
}

.path-box p {
  color: white;
}

.path-box h4 {
  color: white;
  margin: 0;
}

.path-box.rychlost {
  /*background: #c33025;*/
}

.path-box.rychlost img {
  height: 65px;
}

.path-box.produktivita {
  /*background: #d73a2e;*/
}

.path-box.produktivita  img {
  height: 55px;
}

.path-box.vyvojari {
  /*background: #e84c40;*/
}

.path-box.vyvojari img {
  height: 60px;
}

.path-box.kvalita {
  /*background: #f4594e;*/
}

.path-box.kvalita img {
  height: 73px;
}

.path-box .text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 52px;
}

.ico-wrapper {
  align-items: center;
  display: flex;
  height: 95px;
  justify-content: center;
  margin-bottom: 3px;
  margin-top: 43px;
  transition: all .25s;
}

.ico-wrapper img {
  max-height: 100%;
}

.about-ruby {
  padding: 80px 0 40px;
}

.image-text {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}


.image-text.transparent {
  background: transparent;
}

.image-text .wrapper {
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 3%;

}

.image-text .wrapper .text {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 65%;
}

.image-text .wrapper .left.text {
  padding-right: 30px;
}

.image-text .wrapper .right.text {
  padding-left: 30px;
}

.image-text .wrapper .text h2 {
  margin-bottom: 12px;
  margin-top: 25px;
}

.image-text .wrapper .image {
  justify-content: center;
}

.image-text .wrapper .image {
  align-items: center;
  width: 35%;
}

.image-text .wrapper .left.image {
  justify-content: flex-start;
}

.image-text .wrapper .right.text {
  justify-content: flex-end;
  text-align: right;
}

.image-text .wrapper .image img {
  max-width: 100%;
}

.footer {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
}

@media only screen and (min-width: 1025px) and (max-width: 1248px) {
  .path-box {
    padding: 0 15px;
  }

  .proc, .about-ruby, .iquest {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 30px;
    line-height: 38px;
  }

  p, ul li {
    font-size: 14px;
    line-height: 28px;
  }

  .wrapper,
  .narrow,
  .wrapper-small {
    padding: 0 30px;
  }

  .image-text .wrapper .text {
    width: 70%
  }

  .image-text .wrapper .image  {
    width: 30%;
  }

  .image-text .wrapper .image img {
    max-width: 90%;
  }

  .path-box {
    width: 50%;
  }

  .motto img {
    max-width: 35%;
  }

  .ico-wrapper {
    margin-top: 15px;
  }

  .path-box .text {
    margin-bottom: 30px;
  }

  .path-boxes .flex {
    flex-wrap: wrap;
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 25px;
    line-height: 32px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 18px;
  }

  p, ul li {
    font-size: 14px;
  }

  .logo {
    left: 13px;
    top: 13px;
  }

  .navigation {
    right: 40px;
    top: 20px;
  }

  .jak-najit,
  .proc,
  .iquest {
    padding: 20px 15px 15px;
  }

  .jak-najit {
    margin-top: 35px;
  }

  .about-ruby {
    padding: 35px 0 20px;
    z-index: -1;
  }

  .motto {
    padding: 0 15px;
  }

  .proc h2 {
    margin-top: 0;
  }

  .proc p {
    margin-bottom: 0;
  }

  .iquest .button {
    margin: 25px auto 50px;
  }

  .motto img {
    max-width: 100%;
    max-height: 90px;
  }

  .title-1 {
    font-size: 22px;
    line-height: 32px;
    margin-top: 10px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .homepage .title-1 {
    font-size: 22px;
    line-height: 32px;
  }

  .path-boxes {
    position: relative;
  }

  .path-boxes .flex {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .path-boxes .path-box {
    border-bottom: 1px solid #c51401;
    width: 100%;
    padding: 13px 15px;
  }

  .path-box .ico-wrapper {
    margin-top: 5px;
    height: 44px;
  }

  .path-box.rychlost img,
  .path-box.produktivita img,
  .path-box.vyvojari img,
  .path-box.kvalita img {
    height: 40px;
  }

  .image-text .wrapper .left.text {
    padding-right: 0;
  }

  .image-text .wrapper .right.text {
    padding-left: 0;
  }

  .path-box .text {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .image-text {
    flex-direction: column;
    height: auto;
    padding: 0 15px;
  }

  .image-text .motto {
    padding-top: 70px;
  }

  .image-text .wrapper .right.text {
    text-align: left;
  }

  .image-text .wrapper {
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
  }

  .image-text .wrapper .image {
    align-items: center;
    order: 1;
  }

  .image-text .wrapper .image img {
    max-height: 150px;
    max-width: 100%;
  }

  .image-text .wrapper .text {
    order: 2;
  }

  .image-text .wrapper .image, .image-text .wrapper .text {
    width: 100%;
  }

  .image-text .wrapper .text h2 {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .image-text .separator + p {
    margin-top: 0;
  }

  .blockquote {
    padding: 35px 20px 68px;
  }

  .blockquote::after {
    font-size: 14px;
    line-height: 22px;
  }

  .blockquote p {
    font-size: 15px;
  }

  .image-text .number {
    font-size: 20px;
    height: 35px;
    width: 35px;
  }

  .image-text .wrapper .left.image {
    justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  .blockquote {
    padding-bottom: 95px;
  }
  .blockquote::after {
    max-width: 81%;
  }
}
